# Drizzle
DATABASE_URL=local.db

ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="f0f113fd-bae4-4420-8c51-97bfcec500e1"
